* {
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: #242424;
}

header {
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #141414;
}

header > img {
  height: 40px;
  padding-right: 20px;
}

.section-add-ingredient {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.section-add-ingredient > form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.section-add-ingredient > form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.section-add-ingredient > form > button {
  border-radius: 6px;
  border: 2px solid #D1D5DB;
  background-color: #141413;
  color: #FAFAF8;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 100;
}

.section-add-ingredient > form > button:hover {
  border: 2px solid #fc5151;
}

.section-add-ingredient > form > button::before {
  content: "+";
  padding-right: 10px;
}